@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-dark-600;
  }
  body {
    @apply bg-dark-900 text-gray-100;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
